* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: white;
  font-family: var(--fuenteP);
}

:root {
  --fuenteP: "Fredoka", sans-serif;
  --fuenteS: "Quicksand", sans-serif;
  --colorP: #32e0c4;
  --colorS: #c4acd1;
  --colorT: #7c33da;
  --darkOne: rgba(0, 0, 0, 0.9);
  --darkTwo: rgba(0, 0, 0, 0.8);
  --darkThree: rgba(0, 0, 0, 0.3);
  --light: rgba(255, 255, 255, 0.3);
}

/* GLOBAL */
html {
  scroll-behavior: smooth;
}

body {
  background: rgba(0, 0, 0, 0.3) url("../img/WebSite\ bg.png");
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

body::-webkit-scrollbar {
  /* overflow: hidden; Hide scrollbars */
  display: none;
}

h1 {
  font-size: 64px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

h3 {
  font-size: 35px;
  font-weight: bold;
}

h4 {
  font-size: 30px;
  color: var(--colorS);
}

h5 {
  font-size: 20px;
  font-weight: bold;
  color: var(--colorS);
}

h6 {
  font-size: 15px;
  /* font-weight: bold; */
  /* color: gray; */
  font-weight: lighter;
}

p {
  font-size: 20px;
}

a {
  font-size: 20px;
  font-size: 18px;
}

li {
  font-size: 20px;
}

span,
a:hover {
  color: var(--colorP);
  transition: ease all 0.3s;
}

.btn {
  font-size: 25px;
  color: var(--colorP);
  width: 180px;
  height: 55px;
  border: 4px solid var(--colorP);
  border-radius: 5px;
  background-color: inherit;
  text-align: center;
  transition: all 0.3s;
}

.btn:hover {
  cursor: pointer;
  color: white;
  background-color: black;
  border: 4px solid white;
  box-shadow: 0 0 5px var(--colorP), 0 0 25px var(--colorP),
    0 0 50px var(--colorP), 0 0 200px var(--colorP);
}

/* NAVBAR */

header {
  width: 100%;
  position: fixed;
  background-color: var(--darkOne);
  z-index: 999;
  backdrop-filter: blur(7px);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  height: 60px;
}

.logo1 h3 {
  font-weight: lighter;
}

.menuItems {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

.logo2,
#openMenu,
#closeMenu {
  display: none;
}

/* HOME */

section {
  height: 100vh;
  /* padding: 170px 10%; */
  padding: 50px 10% 0;
}

.home {
  background-color: rgb(0, 0, 0);
  padding: 200px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.home-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-type {
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
  width: 24ch;
  animation: typing 3.5s infinite alternate steps(29),
    blinking 0.3s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 25ch;
  }
}

@keyframes blinking {
  50% {
    border-color: transparent;
  }
}

.home-buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.scrollBtna {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.scrollBtn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/* ABOUT ME */

.about {
  display: flex;
  gap: 20px;
  align-items: center;
}

.about-left,
.about-right {
  width: 50%;
  height: 500px;
  margin: auto 0;
}

.about-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-nav {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
}

.about-link-active,
.about-nav li:hover {
  color: var(--colorP);
  border-bottom: 4px solid var(--colorP);
  border-radius: 2px;
  line-height: 1.2;
}

.about-nav li:hover {
  cursor: pointer;
}

/* PROFILE */

/* LEFT */

.profile-left {
  height: 450px;
  border: 5px solid white;
  border-radius: 2px;
  box-shadow: 0 0 50px var(--colorP), inset 0 0 50px var(--colorP);
}

/* RIGHT */

.profile-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.profile-right p {
  text-align: justify;
}

.profile-bottom {
  color: var(--colorS);
}

/* EDUCATION */

/* EDUCATION LEFT */

.education-left,
.skills-left {
  width: 100%;
  height: 100%;
  background-color: var(--darkTwo);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;
  padding: 30px;
}

.education-left h3 {
  color: #c4acd1;
}

/* SWIPER */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper-pagination {
  bottom: 0;
}

/* EDUCATION RIGHT */

.education-right {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.education-container,
.education-info {
  background-color: var(--darkTwo);
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.education-container {
  padding: 10px;
  cursor: pointer;
}

.education-container:hover {
  background-color: var(--darkOne);
}

.fa-chevron-down,
.fa-chevron-up {
  color: var(--colorP);
}

.coderUp {
  display: none;
}

.coderUp {
  display: none;
}

.education-info {
  flex-direction: column;
  padding: 20px;
  height: 100%;
}

.edu-info-location {
  display: flex;
  gap: 10px;
}

.edu-info-location i {
  color: var(--colorS);
}

.edu-info-location h6 {
  color: gray;
}

.edu-info-description li {
  list-style: circle;
  list-style-position: inside;
  padding-left: 10px;
}

.edu-info-technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.tool {
  background-color: var(--colorT);
  padding: 5px 10px;
  border-radius: 20px;
}

/* SKILLS */

/* SKILLS LEFT  */

.tech-skills-bars {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  overflow-y: scroll;
}

.tech-skills-bars::-webkit-scrollbar {
  width: 10px;
}

.tech-skills-bars::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 2px solid var(--colorP);
}

.tech-skill {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  width: 90%;
}

.skill-bar {
  width: 100%;
  height: 20px;
  border-radius: 20px;
  background-color: gray;
}

.skill-bar-in {
  height: 20px;
  background-color: var(--colorP);
  border-radius: 20px 0 0 20px;
}

.html-bar,
.css-bar {
  width: 90%;
}

.javascript-bar,
.python-bar {
  width: 80%;
}

.figma-bar {
  width: 60%;
}

.react-bar {
  width: 70%;
}

.nodejs-bar,
.mongodb-bar {
  width: 40%;
}

/* SKILLS RIGHT */

.skills-right {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skill-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  place-content: center;
  padding: 20px;
  height: 150px;
  width: 150px;
  background-color: var(--darkTwo);
  /* background-color: var(--darkTwo); */
  border-radius: 20px;
}

.skill-container i {
  font-size: 80px;
}

.skill-container h5 {
  cursor: default;
}

.html {
  color: #e44f26;
}

.css {
  color: #1572b6;
}

.js {
  color: #f5de19;
}

.bootstrap {
  color: #7e13f8;
}

.react {
  color: #61dbfb;
}

.figma {
  color: #0acf83;
}

/* PROJECTS */

.projects {
  text-align: center;
  padding: 70px 40px 0;
  height: auto;
}

.projects-container {
  margin-top: 30px;
  display: grid;
  gap: 20px;
  grid-auto-rows: 430px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.project {
  display: flex;
  flex-direction: column;
  /* width: 380px; */
  height: 430px;
  gap: 20px;
  background-color: var(--darkThree);
  border-radius: 20px;
  box-shadow: -3px 3px 5px rgba(209, 193, 193, 0.301);
}

.project-cover {
  position: relative;
  height: 175px;
  width: 100%;
}

.project-cover img,
.project-cover p {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.project-cover img {
  z-index: 1;
}

.project-cover p {
  display: flex;
  align-items: center;
  background-color: var(--darkTwo);
  padding: 20px;
  font-size: 15px;
  text-align: justify;
  z-index: 0;
}

.project:hover p {
  z-index: 2;
  backdrop-filter: blur(2px);
  cursor: default;
}

.project-info {
  text-align: left;
  padding: 0 20px;
  height: 139px;
}

.project-btns {
  padding: 0 20px;
  display: flex;
  gap: 20px;
}

.project-btns a {
  width: 50%;
}

.project-btn {
  width: 100%;
}

.all-projects-btn {
  margin: 30px 0;
}

.contact {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 100px 200px 0;
  height: auto;
  overflow: hidden;
  height: 100vh;
}

.contact-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.social-media,
.send-message {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--light);
  background-color: var(--darkThree);
  border-radius: 20px;
  padding: 20px;
  text-align: left;
  backdrop-filter: blur(5px);
  box-shadow: -3px 3px 5px rgba(209, 193, 193, 0.301);
}

.social-media {
  width: 35%;
}

.send-message {
  width: 60%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

.name-input {
  display: flex;
  gap: 10px;
  align-items: center;
}

.name {
  width: 50%;
}

input {
  height: 20px;
  background-color: transparent;
  border: none;
  border-bottom: 2.5px solid var(--colorS);
  /* margin-bottom: 20px; */
  outline: 0;
  color: white;
  font-size: 17px;
}

input::placeholder,
label {
  color: var(--colorS);
  font-size: 17px;
}

.email::placeholder {
  color: gray;
}

.bottom-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.fa-trash {
  font-size: 30px;
}

.fa-trash:hover {
  text-shadow: 0 0 10px var(--colorP);
  cursor: pointer;
}

.app {
  display: flex;
  gap: 30px;
}

.app:hover h4,
.app:hover i {
  /* color: var(--colorS); */
  text-shadow: 0 0 10px var(--colorP);
}

.app i {
  font-size: 40px;
}

.app h4 {
  color: white;
}

.bubbles {
  position: absolute;
  /* filter: blur(5px); */
  display: flex;
  z-index: -100;
  left: 0;
  top: 0;
}

.bubble {
  position: relative;
  width: 30px;
  height: 30px;
  background: rgb(50, 224, 195);
  margin: 0 4px;
  border-radius: 20%;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #32e0c4, 0 0 100px #32e0c4;
  animation: bubbles 15s linear infinite;
  animation-duration: calc(125s / var(--i));
}

.bubbles .bubble:nth-child(even) {
  background: rgb(255, 45, 117, 0.557);
  box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}

@keyframes bubbles {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}

/* HOVER */

.project:hover,
.social-media:hover,
.send-message:hover,
.skill-container:hover,
.skills-left:hover {
  box-shadow: 0 0 5px var(--colorS), 0 0 20px var(--colorS),
    0 0 20px var(--colorS), 0 0 5px var(--colorS);
}

.education-container:hover {
  box-shadow: 0 0 5px var(--colorP), 0 0 20px var(--colorP),
    0 0 20px var(--colorP), 0 0 5px var(--colorP);
}

/* FOOTER */

.footer {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

.division {
  width: 100%;
  border-top: 3px solid var(--colorS);
  margin-bottom: 20px;
}

/* HIDE ABOUT */

.hide {
  display: none;
}
